---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="UTF-8"?>
<?xml-stylesheet type="text/xsl" href="/sitemap.xsl"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{% for entry in collections.sitemap %}
  <url>
    <loc>{{ metadata.url }}{{ entry.url }}</loc>
    <lastmod>{{ (entry.date or metadata.deploy_date) | isoDate }}</lastmod>
  </url>
{% endfor %}
</urlset>
